@import "tailwindcss";

@theme {
  --font-display: "Nunito Sans Variable", sans-serif;

  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  /* Light Mode */
  --color-light-text: hsl(200, 15%, 8%);
  --color-light-input: hsl(0, 0%, 52%);
  --color-light-background: hsl(0, 0%, 98%);

  /* Dark Mode */
  --color-dark-elements: hsl(209, 23%, 22%);
  --color-dark-background: hsl(207, 26%, 17%);

  /* Box Shadows */
  --shadow-light: 0px 2px 4px 0px rgba(0, 0, 0, 0.0562);
}
