@import "tailwindcss";

:root {
  font-family: "Nunito Sans Variable", sans-serif;
  font-size: 62.5%;

  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  /* Light Mode */
  --color-light-text: hsl(200, 15%, 8%);
  --color-light-input: hsl(0, 0%, 52%);
  --color-light-background: hsl(0, 0%, 98%);

  /* Dark Mode */
  --color-dark-elements: hsl(209, 23%, 22%);
  --color-dark-background: hsl(207, 26%, 17%);
}

body {
  font-size: 1.4rem;
}
